<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:ui="http://java.sun.com/jsf/facelets" 
template="/WEB-INF/template/template.xhtml">
<ui:define name="title">
<title>Add Subject</title>
</ui:define>
<ui:param name="page_name" value="Connexion" /> 
<ui:define name="content"> 
<h:form id="form">
<br><br><br></br></br></br> 
<b>Update Subject</b> 
<h:panelGrid columns="2"> 
<h:outputText value="Title" /> 
<h:inputText value="#{subjectBean.title}" /> 
<h:outputText value="Subject Body" /> 
<h:inputTextarea value="#{subjectBean.subjectBody}" /> 
<h:commandButton id="btn" value="Update" action="#{subjectBean.mettreajourSubject()}" /> 
<h:message for="btn"/> 
</h:panelGrid> 
</h:form> 
</ui:define> 
</ui:composition>