<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:ui="http://java.sun.com/jsf/facelets"
template="/WEB-INF/template/template.xhtml">
<ui:define name="title">
<title>Reply</title>
</ui:define>
<ui:param name="page_name" value="SubjectDetails" /> 
<ui:define name="content">
<h:form id="form">
<br><br><br></br></br></br>
<h:panelGroup layout="block" class="comments-area" style="text-align:left;padding-left: 70px" >
<h:dataTable value="#{subjectBean.oneSub}" var="subject">
                  <h:column>
                  <h:outputText value="#{subject.releaseDate}"></h:outputText>
                  </h:column>
                  <br></br><br></br><br></br>
                  <h:column>
                  <h:outputText value="#{subject.title}"></h:outputText>
                  </h:column>
                                    <br></br><br></br><br></br>
                  <h:column>
                  <h:outputText value="#{subject.subjectBody}"></h:outputText>
                  </h:column>
                  
                         
                  </h:dataTable>
                   <!--    <br></br>          
                       <br></br>      
                       <br></br> 
                       <br></br>
                       <br></br>
                       <br></br>
                       <br></br>
                       <br></br>
                       <b>Reply Here</b> 
<h:inputText value="#{commentBean.clientId}" /> 
<h:inputTextarea value="#{commentBean.responseBody}" /> 
<h:commandButton id="btn" value="Submit Your Response" action="#{commentBean.addComment()}" /> 
<h:message for="btn"/> -->
               </h:panelGroup> 
               </h:form>
               </ui:define>  
</ui:composition>








